header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 18px;
  color: white;
}

header .logo{
  font-size: 1.5em;
}

header .logo span{
  font-weight: 500;
}