.forcasts-card{
  box-shadow: -2px 7px 30px -12px rgba(0,0,0,0.75);
  padding: 12px 0;
  border-radius: 5px;
  text-align: center;
  width: 18%;
}

.forcasts-card img{
  width: 60%;
  margin-top: 20px;
  margin-bottom: 20px;
}