.search-location-container{
  position: absolute;
  width: 100%;
  left: 0;
  top: -55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .search-field{
    display: flex;
    position: relative;
    button{
      position: absolute;
      top: 12px;
      left: 7px;
      background-color: transparent;
      border: none;
      color:rgb(64, 123, 148);
      font-size: calc(15em/16);
      z-index:2;
      margin-right: -30px;
    }
    input{
      padding: 13px 18px 12px 45px;
      font-size: 1em;
      border: transparent;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      width: 360px;
      &:focus{
        outline: none;
      }
      &.no-results{
        border-radius: 6px;
      }
    }
  }
  .search-results{
    background-color: white;
    margin-top: 0;
    padding: 0;
    border: transparent;
    border-top: 2px solid rgb(6, 119, 156);
    width: 360px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    li{
      color: #878787;
      cursor: pointer;
      padding: 8px 14px;
      transition: background-color .2s,color .2s;
      margin: 0;
      &:hover, &.hover{
        background-color: #ebebeb;
        color: #000;
        font-weight: 400;
      }
      &::marker{
        color: transparent;
      }
      &:last-child{
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
      }
    }
  }
}


@media only screen and (max-width: 768px) {
  .search-location-container{
    top: -65px;
    .search-field{
      button{
        font-size: 1.3em;
      }
      input{
        font-size: 1.4em;
      }
    }
    .search-results{
      li{
        font-size: 1.4em;
      }
    }
  }
}

@media only screen and (max-width: 590px) {
  .search-location-container{
    .search-field{
      button{
        font-size: 1.2em;
      }
      input{
        width: 330px;
        font-size: 1.3em;
      }
    }
    .search-results{
      width: 330px;
      li{
        font-size: 1.3em;
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  .search-location-container{
    .search-field{
      button{
        font-size: 1.2em;
      }
      input{
        width: 250px;
        font-size: 1.3em;
      }
    }
    .search-results{
      width: 250px;
      li{
        font-size: 1.3em;
      }
    }
  }
}