.layout{
  background: linear-gradient(to bottom, rgb(121, 176, 199) 0%, rgba(179,220,237,0.99) 11%, rgba(118, 189, 211, 0.93) 54%, rgba(188,224,238,0.88) 96%, rgba(188,224,238,0.87) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#bce0ee', GradientType=0 );
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  overflow-y: auto;
}