.switch-mode-container{
  width: 50%;
  margin-left: 50px;
  > div{
    font-size: 1.2em;
  }
}

@media only screen and (max-width: 500px) {
  .switch-mode-container>div{
    font-size: 1em;
    &:last-child{
      margin-left: 4px;
    }
  
    &:first-child{
      text-align: end;
      margin-right: 4px;
    }
  }
}